@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter var', sans-serif; }
  }
body {
    background-color: #0E0B16;
}
nav img {
    height: 50px;
    width: 50px;
    padding: 25px;
}
nav ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding: 0 80px 0 0;
}
nav ul li {
    font-family: 'Inter', sans-serif;
    float: left;
}
nav ul li a {
    display: block;
    color: #A239CA;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 550;
}
.first_section {
    padding: 100px 0 0 350px;
}
.first_section h2 {
    font-size: 20px;
    color: #8A17B6;
    font-weight: 700;
}
.first_section h1 {
    font-size: 150px;
    color: #A239CA;
    font-weight: 700;
    padding-top: 10px;
}
.first_section h3 {
    font-size: 40px;
    color: #8A17B6;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 30px;
}
.text {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg,#EF1BF3 0%, #B82CED 10%, #A239CA 20%, #8A17B6 30%, #7F0BAB 40%, #5e0a7c 50%, #7F0BAB 60%, #8A17B6 70%, #A239CA 80%, #B82CED 90%, #EF1BF3 100% );
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 15s linear infinite;
}
@keyframes animate {
    100%{
        background-position: 400%;
    }
}
#wA {
    font-size: 50px;
    color: #EF1BF3;
    font-weight: 700;
}
.first_section .Bullets {
    list-style-type: disc;
    font-size: 40px;
    font-weight: 550;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    padding: 60px 0 0 85px;
}
.first_section .Bullets .Bullet-first {
    color: #7F0BAB;
}
.first_section .Bullets .Bullet-second {
    color: #B82CED;
}
.content {
    width: 50%;
    margin: 300px auto;
}
.headerline {
    display: flex;
    flex-direction: row;
} 
.header {
    color: #A239CA;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
}
hr .CUVIHR{
    width: 50%;
    margin: 33px auto 0 auto;
    background-color: #A239CA;
    border: none;
    height: 5px;
    
}
.second_section .txt {
    color: #A239CA;
    font-size: 30px;
    font-weight: 550;
    padding: 25px 0;
}
.second_sectionflex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%;
}
.second_section {
    margin-bottom: 200px;
}
.headerline2 {
    display: flex;
    flex-direction: row;
} 
.DBTFL {
    width: 80%;
    background-color: #A239CA;
    border: none;
    height: 5px;
    float: left;
    left: 0px;
}
.DBTFT {
    Color: #A239CA;
}
.DBTFR {
    width: 80%;
    background-color: #A239CA;
    border: none;
    height: 5px;
    float: right;
    right: 0px;
}
